body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a2259;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../gambar/background.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 70px;
    width: auto;
    margin-right: 10px;
}

.title {
    margin-top: 3px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}